spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finance_manager
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    create-schemas: true
    encoding: UTF-8
    baseline-on-migrate: true

app:
  jwt:
    secret: ""
    expiration: 86400000